<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<section>
	<h1 th:text="${CalculationResult}">
		
	</h1>
</section>
</body>
</html>