<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<section>
<h1>I'm heading</h1>
<p> I'm a paragraph, I'm a paragraph, I'm a paragraph, I'm a paragraph</p>
<p> Hello <span th:text="${name}"></span> </p>

</section>
</body>
</html>